<!DOCTYPE html>
<html>
<head>
    <title>Mintos task</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">

    <base href="/">

    <script type="text/javascript">
        var user_permissions = '{{ user_permissions }}'.split(',');
    </script>
</head>

<body class="mat-body">
<app-root></app-root>

<script type="text/javascript" src="{{ asset('web/runtime.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/polyfills.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/styles.js') }}"></script>
<script type="text/javascript" src="{{ asset('web/vendor.js') }}"></script>
</body>
</html>
